{
  "extends": ["plugin:prettier/recommended"],
  "env": {
      "node": true
  },
  "globals": {
      "Atomics": "readonly",
      "SharedArrayBuffer": "readonly",
      "import": true
  },
  "parserOptions": {
      "ecmaVersion": 2019,
      "sourceType": "module"
  },
  "rules": {
  }
}